*,
*::before,
*::after {
	box-sizing: border-box;
	font-family: 'Arial';
}

html {
	min-width: 768px;
}

body {
	margin: 0;
	line-height: 1.5;
}

.github-nav {
	background-color: #24292E;
	display: flex;
	align-items: center;
	padding: .7em 4em;

}

.github-nav p {
	float: right;
	color: lightgrey;
	font-size: 16px;
	margin-left: auto;
	margin-top: 0;
	margin-bottom: 0;
}

.nav-container {
    width: 980px;
    margin-right: auto;
    margin-left: auto;
}

button {
	margin-left: .5em;
}

.github-search {
	border-radius: .2em;
	background-color: rgba(255,255,255,0.125);
	border: 0;
	padding: .5em;
	box-shadow: none;
}

input {
    color: white;
	width: 300px;
}

.repo {
	border-bottom: 0.05em solid #e2e3e4;
	margin: 1em 0;
	padding-bottom: 1em;
	font-size: 1.25em;
	font-weight: 900;
	width: 100%;
    margin-top: inherit;
}

.repo a { 
	text-decoration: none;
	color: #0366D6;
}

.repo a:hover {
	text-decoration: underline;
}

.repo p {
	font-weight: 500;
	font-size: .75em;
	color: #474747;
    padding-left: 1.5em;
}

.repo-card {
    position: relative;
    background-color: white;
    padding: 1.5rem;
    border-bottom: 1px #e1e4e8 solid;
	display: flex;
}

.repo-name {
    font-size: 20px;
    font-weight: 600;
	text-decoration: none;
}

.repo-name:hover {
	text-decoration: underline;
}

.repo-info {
    position: relative;
    display: block;
}

p {
    font-weight: 500;
	font-size: 14px;
	color: #474747;
}

h1, h4 {
    padding-left: 1.5rem;
}

h3 {
    font-size: 20px;
    font-weight: 600;
}

.count-header {
    background-color: #FAFBFC;
    border-bottom: 1px #e1e4e8 solid;
}

.card-header {
  	box-shadow: 0 1px 2px rgba(10, 10, 10, 0.1);
  	background-color: #FAFBFC;
  	display: flex;
  	padding-top: 1em;
	font-size: 20px;
    font-weight: 600;
	
}

.card-content {
    border: 1px solid #ddd;
	width: 980px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 10px;
    border-radius: 5px;
    position: relative;
    background-color: white;
	padding: 45px;
}

.app-wrapper {
    background-color: #FAFBFC;
}

.repo-list {
	width: 980px;
    margin-right: auto;
    margin-left: auto;
}

.repo-card-info {
	width: 66.66667%;
}

.repo-card-language {
    width: 16.66667%;
}

.repo-card-stars {
	width: 16.66667%;
}

.logo {
    display: inline-block;
    width: 13%;
    vertical-align: -webkit-baseline-middle;
    margin-right: 1.5em;
}

.card-name {
	margin-left: 3em;
}

.card-description {
	margin-left: 2.5em;
}

.repo-stats {
    display: flex;
    list-style-type: none;
    padding: 0;
}